@import "nullstyle";
@import "_adaptate";
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #272727;
    font-family: "Roboto", sans-serif;
    color: white;
}
.container {
    max-width: em(1400);
    // width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    background: #474747;
    // .header__container
    &__container {
        max-height: rem(90);
        display: flex;
        align-items: center;
    }
    // .header__menu
    &__menu {
        width: 100%;
        margin: rem(30) 0;
    }
}
.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // .menu__logo
    &__logo {
        width: rem(50);
        height: rem(30);
        img {
            max-width: 100%;
        }
    }
    &__circle {
        width: rem(30);
        height: rem(30);
        img {
            max-width: 100%;
        }
    }
    &__map {
        width: rem(30);
        height: rem(30);
        img {
            max-width: 100%;
        }
    }
    &__shopping-bag {
        width: rem(30);
        height: rem(30);
        img {
            max-width: 100%;
        }
    }
    &__user {
        width: rem(30);
        height: rem(30);
        img {
            max-width: 100%;
        }
    }
    &__search {
        flex: 0 1 50%;
        border-radius: rem(5);
        background: white;
    }
}
.search-form {
    display: flex;
    &__search-btn {
        background: white;
        border-radius: rem(5);
        img {
            max-width: 100%;
        }
    }
    &__search-input {
        font-size: rem(16);
        width: 100%;
        padding: 0 rem(20);
        border-radius: rem(5);
    }
}
.main {
    flex: 1 1 auto;
    // .main__comp
    &__composition {
        display: flex;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 25%;
            height: 50%;
            width: rem(3);
            background: white;
        }
        &::before {
            content: "";
            position: absolute;
            left: 100%;
            top: 25%;
            height: 50%;
            width: rem(3);
            background: white;
        }
    }
    // .main__srlabel
    &__srlabel {
        width: 100%;
        img {
            max-width: 100%;
        }
    }
    &__properties {
        flex: 1 1 30%;
        display: flex;
    }
    &__car-photo {
        flex: 0 1 60%;
        img {
            max-width: 100%;
        }
    }
    &__props {
        flex: 0 1 80%;
        font-size: rem(24);
        margin: auto;
        li {
            &:first-child {
                font-size: rem(36);
                font-weight: 700;
                margin-bottom: rem(10);
            }
            &:last-child {
                margin-top: rem(10);
            }
        }
    }
}
.navigation {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    &__counter {
        margin-left: 30%;
        font-size: rem(36);
        span {
            &:last-child {
                opacity: 0.5;
            }
        }
    }
}
.nav-btns {
    display: flex;
    &__item {
        margin: 0 rem(10);
        width: rem(30);
        height: rem(30);
        border: rem(3) solid white;
        border-radius: 50%;
    }
    &__item-active {
        margin: 0 rem(10);
        width: rem(30);
        height: rem(30);
        background: white;
        border: rem(3) solid white;
        border-radius: 50%;
    }
}
.footer {
    background: #474747;
    &__menu-row {
        font-size: rem(24);
        margin: rem(50) 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__menu-column {
        width: 25%;
    }
    &__col {
        width: 60%;
        margin: auto;
        ul {
            li {
                &:first-child {
                    font-weight: 700;
                }
            }
        }
    }
}
